@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --borda-Btn: #1E917C;
    --cor_text_btn: #11C48C;

    --background-btn: #1F394A;
    --background-container: #212B46;

    --background-btn-excluir: #FFF0F3;
    --cor-bord-btn: #DD4C79;

    --background-menu: #212226;
}


body {
    font-family: Arial, sans-serif;
    background-image: url('../background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden; /* Evita scroll horizontal */
    
    & .main{
        position: relative;
        background-color: var(--background-container);
        padding: 35px;
        /* border: 2px solid #ffffff; */
        border-radius: 10px;
        box-shadow: 2px 2px 21px 1px #252525a9;
        overflow-x: hidden; /* Evita scroll horizontal */
        & .box-nav{
            /* background-color: #11c48b; */
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            & .logo{
                color: #ffffff;
                font-family: "Moon Dance", cursive;
                font-size: 30px;
                font-weight: 400;
                font-style: normal;
            }

            & .menu-hamburguer{
                width: 30px;
                height: 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                cursor: pointer;

                & div{
                    margin-top: 5px;
                    background-color: #11C48C;
                    height: 2px;
                    width: 100%;
                }
            }
        }
        & .data-horas{
            display: flex;
            justify-content: space-around;
            gap: 5px;
            margin-top: 15px;
            & .horas {
                width: 100%;
                
                &:nth-child(2), &:nth-child(3){
                    & label{
                        text-align: center;
                    }
                }

                & label{
                    font-size: 17px;
                    font-weight: bold;
                    color: var(--cor_text_btn);
                }


                & input{
                    text-align: center;
                    width: 100%;
                    padding: 10px;
                    font-size: 18px;
                    font-weight: bold;
                    color: var(--background-btn);
                    outline: none;
                    border-radius: 5px;
                    border: none;
                }
            }
        }

        & .total-time{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            
            & label{
                font-size: 18px;
                font-weight: bold;
                color: var(--cor_text_btn);
            }

            & #total-time{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 5px; 

                height: 50px;
                width: 150px;
                background-color: #ffffff;
                border-radius: 5px;
                
                & h4{
                    font-size: 30px;
                    color: var(--background-btn);
                }
            }
        }
        
        & textarea{
            width: 100%;
            height: 100px;
            font-size: 20px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            &:focus{
                color: var(--cor_text_btn);
                background-color: var(--background-btn);
                outline: 2px solid var(--cor_text_btn);
            }
        }

        & label{
            font-size: 18px;
            font-weight: bold;
            color: var(--cor_text_btn);
        }

        & button{
            color: #ffffff;
            width: 100%;
            padding: 10px;
            background-color: var(--borda-Btn);
            border: none;
            border-radius: 5px;
            margin-top: 15px;
            cursor: pointer;

            &:hover{
                background-color: var(--cor_text_btn);
            }
        }
    }

    & .box-menu {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #2423237e;
        border-radius: 10px;
        top: 0;
        right: 0;
    
        & .x {
            position: absolute;
            width: 65px;
            top: 55px;
            right: 0;
            cursor: pointer;
            z-index: 2;
            
            &::before {
                position: absolute;
                content: "";
                width: 30px;
                height: 5px;
                border-radius: 20px;
                transform: rotate(-45deg);
                background-color: #ffffff;
            }
            
            &::after {
                content: "";
                position: absolute;
                width: 30px;
                height: 5px;
                border-radius: 20px;
                transform: rotate(45deg);
                background-color: #ffffff;
            }
        }

        .menu {
            width: 100%;
            height: 100%;
            background-color: #1e917cdc;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top-left-radius: 31em;
            position: absolute;
            z-index: 1;
            top: 0;

            display: flex;
            justify-content: end;
            align-items: center;
            
            & .bd{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                
                position: relative;
                width: 100px;
                height: 100px;
                background-color: #fcfcfc;
                margin-right: 80px;
                border-radius: 10px;
                margin-top: 100px;
                
                font-size: 10px;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
                color: var(--background-btn);
                
                & i{
                    font-size: 40px;
                    color: var(--background-container);
                    cursor: pointer;
                }
                
                &:hover{
                    transform: scale(1.1);
                }
            }
            
        }
        .menu-speed{
            animation: menu-speed 0.08s ease-in-out forwards;
        }
    }

    & #banco-dado{
        position: absolute;
        background-color: var(--background-container);
        padding: 35px;
        border-radius: 10px;
        box-shadow: 2px 2px 21px 1px #252525a9;
        overflow-x: hidden;
        /* right: 10%; */
        display: none;

        & .box-menu-banco{
            width: 100%;
            display: flex;
            justify-content: space-between;
            & .logo{
                color: var(--cor_text_btn);
                font-family: "Moon Dance", cursive;
                font-size: 20px;
                font-weight: bold;
                font-style: normal;
                text-transform: uppercase;
            }
            & .home{
                font-size: 20px;
                color: var(--cor_text_btn);
                &:hover{
                    color: var(--borda-Btn);
                    cursor: pointer;
                    
                }
            }
        }
        
        & .container{
            /* background-color: #1E917C; */
            width: 100%;
            overflow-x: hidden; /* Evita scroll horizontal */
            
            & .col-12{
                height: 200px;
                & .box-text-banco{
                    background-color: #ffffff;
                    border-radius: 5px;
                    height: 100%;

                    & .text-info{
                        display: flex;
                        justify-content: space-between;
                        /* margin-right: 5px; */
                        border-bottom: 1px solid #ffffff;

                        background-color: #dd4c7a;
                        & span{
                            color: #ffffff;
                            border-radius: 5px;

                        }
                    }

                    & .motivo{
                        background-color: #11c48b5d;
                        /* border:1px solid  #11c48b5d; */
                        width: 97%;
                        margin: auto;
                        border-radius: 5px;
    
                        & p{
                            margin-left: 5px;
                            font-weight: bold;
                            color: #1F394A;
                        }
                        & .text-motivo{
                            font-weight: normal;
                            font-size: 11px;
                            text-align: justify;
                            width: 100%;
                            padding: 0px 15px 0px 0px;
                        }
                    }
                    & p{
                        color: var(--background-menu);
                        font-size: 14px;
                        margin: 0px 0px 0px 5px;
                    }
                    &:hover{
                        /* background-color: #1E917C; */
                    }
                }
            }
        }
    }
}

/* Faz a barra de rolagem mais fina */
::-webkit-scrollbar {
    width: 8px; /* Largura da barra vertical */
    height: 100px; /* Altura da barra horizontal */
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: var(--background-container); /* Cor do fundo da barra */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Personaliza a "alça" da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: var(--cor_text_btn); /* Cor da alça */
    border-radius: 5px;
}

/* Altera a cor quando o usuário passa o mouse */
::-webkit-scrollbar-thumb:hover {
    background: var(--borda-Btn);
}



@keyframes menu-speed {
    0% {
        right: -100%;
    }
    100%{
        right: 0px;
    }
} 
label, input, textarea, button {
    display: block;
    margin-top: 10px;
}
input, textarea {
    /* width: 200px; */
    padding: 5px;
}

@media (min-width: 884px) { 
    .main {
        width: 80% !important; /* Mantém o layout desejado */
        max-width: 500px; /* Ajusta para não ficar muito grande */
    }
    
    .data-horas {
        display: flex;
        justify-content: space-between;
        gap: 5px;
    }

    .data-horas .horas {
        width: 100%;
    }
    
    #banco-dado{
        width: 50% !important;
        max-width: 500px; 
        height: 67% !important;
    }
}

@media (max-width: 884px) { 
    .main {
        width: 80% !important; /* Mantém o layout desejado */
        max-width: 500px; /* Ajusta para não ficar muito grande */
    }

    .data-horas {
        display: flex;
        justify-content: space-between;
        gap: 5px;
    }

    .data-horas .horas {
        width: 100%;
    }
    #banco-dado {
        width: 500px !important;
        max-width: 500px;
        height: 500px !important;
    }
}

@media (max-width: 440px){
   
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 90% !important;
        height: 90%;
        
        & .data-horas {
            width: 100%;
            flex-direction: column;
            
            
            & label{
                text-align: justify !important;
                width: 100%;
            }
        
            & input, textarea{
                width: 100%;
            }
        }

    
        & #total-time {
            & h4 {
                font-size: 20px !important;
                color: var(--background-btn);
            }
        }

        & .box-menu {
            & .menu {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                & .bd {
                    position: relative;
                    width: 140px;
                    height: 100px;
                    background-color: var(--background-btn-excluir);
                    margin-right: 10px;
                    border-radius: 10px;
                    margin-top: 50px;
                }
            }
        }
            
    }
    #banco-dado {
        width: 348px !important;
        height: 665px !important;

        & .container {
            & .box-text-banco {
                width: 100% !important; 
            }
        }
    }
    
}
